header {
	background:#2bc999;
	color:#fff;
}

.main {
	background:#f2f2f2;
}

.color1 {
	background: #2bc999;
	color:#fff;
}

aside {
	background:#2bc999;
	color:rgb(255, 255, 255);
}

footer {
	background:#2bc999;
	color:#fff;
}